*{
margin:0;
padding:0;
    
}

body{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 height:1000px;
}
#MainBox{
    width:350px;
    height:450px;
    background-color: black;
    border: 10px groove red;
    border-radius: 10px;
    position: relative;

}
#OutputBox{
    width:250px;
    height:50px;
    top:2%;
    margin-left:8%;
    border: 10px solid black;
    background-color: white;
    border-radius:21px;

}
#InputBox{
    width:250px;
    height:70px;
    border: 10px groove white;
    background-color: black;
    border-radius:10px;
    color: red;
    font-size: x-large;
}
button{
    height:55px;
    width:45px;
    border-radius: 15px;
    border: 2px groove red;
    font-size: larger;
    background-color: white;
}

button:hover{
 box-shadow: 0vw 0vw 1vw red;
}

 table{
    margin-left: 10%;
    margin-top: 25%;
    background-color: black;
    border: 5px solid;
    border-radius: 10px;
 }
 #table2{
    background-color: black;
    border: 10px solid;
    border-radius: 10px;

 }
 #Div1{
     display:inline-flex;
 }